{% extends 'ReleaseBundle:Default:base.html.twig' %}
{% block content %}
    <div id="artifacts_section">
        <table id="artifacts_tbl" class="table table-responsive table-hover table-bordered">

        </table>
        <button id="btn-update" class="btn btn-primary">Update states in RallyDev</button>
        <br><br>
    </div>
    <div id="to_zendesk_section" style="display: none">
        <table id="zendesk_tbl" class="table table-responsive table-hover table-bordered">

        </table>
        <button id="btn-send" class="btn btn-primary">Send comments to Zendesk</button>
        <br><br>
    </div>
    <div id="continue_section" style="display: none">
        <h2></h2>
        <button id="btn-continue" class="btn btn-primary">Continue...</button>
        <br><br>
    </div>
{% endblock %}
{% block js %}
<script type="text/javascript">
    $(document).ready(function(){
        $('#btn-update').click(function(e) {
            e.preventDefault();
            var artifacts = new Array; 
            $('input:checked').each(function(i, item){
                artifacts.push(item.value);
            });
            var nArtifacts=1;
            $.ajax({
                url: "{{ path('ApiRallyCloseArtifacts') }}",
                method: "POST",
                dataType: "json",
                data: { 
                    artifacts: artifacts
                },
                success: function (data) {
                    $('#artifacts_section').hide();
                    $('#to_zendesk_section').show();
                    $(data).each(function(i, item){
                        var content = '';
                        var check = $('<td>').html('');
                        if (item.zendeskTicketId !== null) {
                            var code = item.release.code;
                            var date = item.release.date;
                            content = $('<textarea>')
                                        .addClass('to-send')
                                        .attr('cols', 80)
                                        .attr('rows', 4)
                                        .attr('data-ticketId', item.zendeskTicketId)
                                        .html('This was fixed and released to production as part of ' 
                                        + code + ', on ' + date + '.');
                            check = $('<td>').html($('<input>')
                                        .attr('type','checkbox')
                                        .attr('checked', true)
                                        .addClass('chk_artifact')
                                    );
                        }
                        $('#zendesk_tbl').append(
                            $('<tr>')
                            .append(
                                $('<td>').html(nArtifacts++)
                            )
                            .append(
                                check
                            ).append(
                                $('<td>').html(item.code)
                            ).append(
                                $('<td>').html(item.name)
                            ).append(
                                $('<td>').html(content)
                            ) 
                        );
                    });
                }
            });
        });
        $('body').on('click', '#btn-continue', function (e){
            e.preventDefault();
            $(location).attr('href', '{{ path('home') }}');
        });
        $('body').on('change', '.chk_artifact', function(){
            if ($(this).is(':checked')) {
                $(this).parent().parent().find('textarea').addClass('to-send');
            } else {
                $(this).parent().parent().find('textarea').removeClass('to-send');
            }
        });
        $('body').on('click', '#btn-send', function (e){
            e.preventDefault();
            var tickets = new Array();
            $('.to-send').each(function (i, item) {
                var ticket = {
                    id: $(item).data('ticketid'),
                    message: $(item).val()
                };
                tickets.push(ticket);
            });
            $.ajax({
                url: "{{ path('ApiZendeskUpdateTickets') }}",
                method: "POST",
                dataType: "json",
                data: {
                    tickets: tickets
                },
                success: function (data) {
                    if (data.success) {
                        $('#continue_section h2').html('Success');
                    } else {
                        $('#continue_section h2').html('Error, try again.');
                    }
                    $('#to_zendesk_section').hide();
                    $('#continue_section').show();
                }
            });
        });
        var nArtifacts=1;
        $.ajax({
            url: "{{ path('artifactsByActiveRelease') }}",
            method: "GET",
            dataType: "json",
            success: function (data) {
                $(data).each(function(i, item){
                    $('#artifacts_tbl').append(
                        $('<tr>')
                        .append(
                            $('<td>').html(nArtifacts++)
                        )
                        .append(
                            $('<td>').html($('<input>')
                                .attr('type','checkbox')
                                .attr('checked', true)
                                .val(item.code + ':' + item.id )
                            )
                        ).append(
                            $('<td>').html(item.code)
                        ).append(
                            $('<td>').html(item.name)
                        ).append(
                            $('<td>').html(item.owner)
                        ) 
                    );
                });
            }
        });        
    });
</script>
{% endblock %}
